* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar,
#main {
  height: 100%;
}

#sidebar {
  width: 35%;
  background-image: url("https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

#title {
  position: relative;
  top: 20.5%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title img {
  width: 150px;
}

#title span {
  font-family: 'Norse Bold';
  font-size: 8rem;
}

#main {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(249, 249, 249);
}

#text-holder{
  font-size: 2rem;
  font-weight: 900;
  padding-left: 66px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

form {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#form-content {
  width: 100%;
  height: 90%;
  padding-top: 20px;
  padding-left: 66px;
  box-shadow: 0px 10px 5px 0px rgb(61, 61, 61, 0.1);
  background-color: rgb(254, 254, 254);
}

#form-title {
  font-size: 2rem;
  font-weight: 900;
}

#input-holder {
  display: flex;
  height: 90%;
  gap: 66px;
}

#left-column,
#right-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#input-holder p {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  font-weight: 500;
  color: gray;
}

input {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
}

button {
  width: 300px;
  height: 66px;
  border-radius: 10px;
  border: 0;
  background-color: #596D48;
  color: white;
  margin: 50px 0 0 66px;
  font-size: 1.2rem;
}

#alt-text {
  margin-left: 66px;
  margin-top: 40px;
}

a {
  color: #596D48;
  text-decoration: none;
}

input:invalid {
  border: 2px solid red;
}

input:focus {
  border: 2px solid blue;
}
